@page "/admin/pieadd"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Administrator")]

@using Microsoft.AspNetCore.Authorization

<h3>Add New Pie</h3>

<style>
*.hidden {
  display: none !important;
}

div.loading{
  position: fixed;
  z-index:100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}

@@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ffffff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

</style>

@if (Generating)
{
    <div class="loading">
        <div class='uil-ring-css' style='transform:scale(0.79);'>
            <div></div>
        </div>
    </div>
}

@if (!IsSaved)
{
    <EditForm Model="Pie" OnSubmit="OnSubmit" Enhance FormName="AddPieForm">

        <div class="row mb-3">
            <label for="Name" class="col-form-label col-md-3">Name: </label>
            <div class="col-md-8">
                <InputText id="Name" class="form-control col-md-8" @bind-Value="@Pie.Name" placeholder="Enter pie name"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <label for="shortDescription" class="col-form-label col-md-3">Short description: </label>
            <div class="col-md-8">
                <InputText id="shortDescription" class="form-control col-md-8" @bind-Value="@Pie.ShortDescription" placeholder="Enter short description"></InputText>
                <button type="button" class="btn btn-primary mt-1" @onclick="GenerateShortDescription">Generate</button>
            </div>
        </div>

        <div class="row mb-3">
            <label for="longDescription" class="col-form-label col-md-3">Long description: </label>
            <div class="col-md-8">
                <InputTextArea id="longDescription" class="form-control" @bind-Value="@Pie.LongDescription" placeholder="Enter long description"></InputTextArea>
                <button type="button" class="btn btn-primary mt-1" @onclick="GenerateLongDescription">Generate</button>
            </div>
        </div>

        <div class="row mb-3">
            <label for="imageUrl" class="col-form-label col-md-3">Image: </label>
            <div class="col-md-8">
                <InputText id="imageUrl" class="form-control col-md-8" @bind-Value="@Pie.ImageUrl" placeholder="Enter image URL"></InputText>
                <button type="button" class="btn btn-primary mt-1 mb-2" @onclick="GenerateImage">Generate</button>
                <p>@((MarkupString)GeneratedImage)</p>
            </div>
        </div>

        <div class="row mb-3">
            <label for="price" class="col-form-label col-md-3">Price: </label>
            <div class="col-md-8">
                <InputNumber id="price" class="form-control col-md-8" @bind-Value="@Pie.Price" placeholder="Enter price"></InputNumber>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-outline-primary ms-1">Submit</button>
        </div>

    </EditForm>
}
else
{
    <h4 class="text-success">@Message</h4>
} 


